@import '../../../assets/styles/_colors';

#conferences {
  .conferences {
    background-color: $conferencesBackground;
    color: $conferencesText;

    h4 {
      color: $conferencesText;
    }
  }

  .conference {
    line-height: 1.3em;

    a {
      font-size: .9em;
    }

    small {
      font-size: .7em;
    }
  }
}