@charset "UTF-8";
@import '../../assets/styles/_basic';


#faq {
  width: 100%;

  button {
    font-size: 0.87em;
    text-decoration: none;
    font-weight: bold;
    color: $headerButtonDark;
    cursor: pointer;

    &:hover,
    &[aria-expanded^="true"]{
      font-weight: bold;
      color: $headerButtonDarkHover;
    }

  }
  .card-header {
    white-space: normal;
    overflow-wrap: break-spaces;
  }
}