@charset "UTF-8";
@import '../../assets/styles/_basic';

#application {
  .container {
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: .25rem;
    border: 1px solid $borderSecondary;
    padding: 1em;
    background: $formBackground;
    &.form {
      padding: 2em;
    }
  }
  .page-header {
    margin-bottom: 0;
  }

  .diversity-info {
    font-size: 0.8em;
    ul {
      font-size: 1.2em;
    }
  }

  #detailsForOther {
    margin-bottom: 1.5em;
  }

  p.col-form-label {
    margin: 0 -5px;
  }

  .btn-primary {
    margin-top: .5em;
    font-size: 1.5em;

    @media (max-width: 767px) {
      font-size: 1.2em;
    }
  }

  #registration-accordion
  {
    margin-top: 1.5em;
    margin-bottom: 2em;
  }

  button {
    font-size: 0.87em;

    &.btn-link {
      font-size: 0.87em;
      text-decoration: none;
      font-weight: bold;
      color: $headerButtonDark;
      cursor: pointer;

      &:hover,
      &[aria-expanded^="true"] {
        font-weight: bold;
        color: $headerButtonDarkHover;
      }
    }
  }

  .pricing {
    border-collapse: collapse;

    th {
      padding: .5em;
      background-color: $tableHeader;
      border: 2px solid white;
      border-collapse: collapse;
    }
    td {
      padding: .5em;
      border: 2px solid white;
      border-collapse: collapse;
      background-color: $tableCell;
    }
  }
}
